/****** General ***********/
* {
    
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
  }

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --black:#000000
}

.fa-solid {
    color: var(--main-color);
}

body {
    
    font-family: 'Raleway', sans-serif;
}


.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Header ***********/

    /****** Navbar ***********/

    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 6rem;
        margin-bottom: 3rem;
    }

    

    .navbar-logo img{
        height: 2rem;
    }

    .navbar-links{
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar-links li,
    .navbar-links a{
        
        list-style: none;
        cursor: pointer;
        color: var(--black);
        text-decoration: none;
        padding-top: 1.5rem;
        
    }

    .navbar-links li{
        margin-left: 3rem;
    }

    .navbar-links li:first-child{
        padding-right: 1rem;
    }

    .navbar-links li:hover,
    .navbar-links a:hover  {
        color: var(--main-color);
        border-top: solid 1px var(--main-color);
    }
    
    
    /****** Search ***********/

    .search{
        /* height: 6rem; */
        display: flex;
        flex-direction: column;
        
        width: 100%;
    }

    .search-description_title{
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 0.5rem;
    }

    .search-description_p{
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }

    .search-search{
        width: 50rem;
        
        display: flex;
        margin-top: 2rem;
        
    }

    .search-search input,
    .search-search button,
    .search-search i{
        border: 1px solid #F2F2F2;
        height: 3rem;
    }

    

    .search-search i{
        display: flex;
        justify-content:center;
        align-items: center;
        width: 3rem;
        background: #F2F2F2;
        border-radius: 15px 0 0 15px;

    }

    .search-search input{
        width: 12rem;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
    }

    .search-search button{
        border-radius: 0 15px 15px 0;
        padding: 0 1rem;
        text-transform: capitalize;
        background: var(--main-color);
        color: var(--main-bg-color);
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        cursor: pointer;
    }

    .button_mobile{
        display: none;
    }

    /****** Filtres ***********/

    .filter{
        margin-top: 4.5rem;
        display: flex;
        flex-direction: row;
        align-content: center;
    }

    .filter-title{
        margin-right: 1rem;
        font-weight: 700;
        font-size: 10px;
        line-height: 21px;
        display: flex;
        
        align-items: center;
    }

    .filter-choices{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        
    }

    .filter-choice{
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 2px solid #D9D9D9;
        border-radius: 25px;
        padding: 4px 19px;
        margin-right: 1rem;
    }

    .filter-choice:hover{
        background: #DEEBFF;
    }

    .filter-choice i{
        padding-right:0.5rem ;
    }

    .filter-choice h2{
        
        font-weight: 700;
        font-size: 17px;
        line-height: 20px;
    }

    .subheader{
        display: flex;
        margin: 2rem 0; 
        align-content: center;
    }

    .subheader i {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2px;
        width: 2px;
        border: 1px solid #D9D9D9;
        border-radius: 50%;
        padding: 15px;
        margin-right: 1px;
        
    }
    

    .subheader p{
        display: flex;
        margin-left: 1rem;
        align-items: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.hebergements-and-populaires .hebergements,
.hebergements-and-populaires .populaires {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards{
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}

.hebergements-cards__card{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
    margin-bottom: 2rem;
    align-items: flex-start;
    cursor: pointer;
}

.hebergements-cards__card img{
    object-fit: cover;
    height: 8rem;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.card-rating i:last-of-type{
    color: #F2F2F2;
}

.card-content{
    padding: 1rem 0 0.5rem 0.2rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    
}

.hebergements-showmore button{
    cursor: pointer;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    cursor: pointer;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/****** Activities ***********/

.activities{
    margin-top: 3rem;
    padding: 1rem;
}

.activities-cards{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
}

.activities-cards_card{
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 23%;
    cursor: pointer;
}

.activities-cards_card img {
    object-fit: cover;
    height: 25rem;
    width: 100%;
    border-radius: 15px 15px 0 0 ;
}

.activities-cards_card .card-content{
    height: 5rem;
    display: flex;
    
}

.activities-cards_card .card-title{
    margin-left: 1rem;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 3rem;
    background: #F2F2F2;
    padding: 1rem;
}

.footer > *{
    width: 33%;
}

.footer h3,
footer p{
    margin-bottom: 1rem;
}

.footer a{
    color: black;
    text-decoration: none;
}





/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */


@media screen and (min-width: 1024px) {
    .main-container{
        max-width: 1440px;
        margin: auto;
    }
}

@media screen and (max-width: 1024px) {

    .filter{
        flex-direction: column;
    }

    .filter-title{
        margin-bottom: 1rem;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 32%;
    }

    .populaires-cards img{
        width:40%
    }

    .card-content{
        display: flex;

        height: 100%;
        justify-content: space-between;
        padding-top: 0;
        padding-bottom: 0;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activities-cards_card img{
        height: 12rem;
    }

    .activities-cards_card h3{
        margin-top: 1.5rem;
    }

    .footer{
        margin-top: 2.5rem;
    }

    .footer > *{
        font-size: 14px;
        width: 33%;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    
    /* ******general****** */
    .main-container{
        margin: 0;
        padding: 0;
    }
    
    .card {
        /* width: 100%; */
        flex-direction: column;
    }

    /* *****navbar******** */
    
    .navbar{
        margin-top: 2rem;
        flex-direction: column;
    }

    .navbar-logo img{
        height: 1.5rem;
    }

    .navbar-links{
        width: 100%;
        display: flex;
    }

    .navbar-links li
    {
        width: 50%;
        margin: 0;
        text-align: center;
        border-bottom: solid 2px var(--main-bg-color);
    }

    .navbar-links li:hover  {
        color: var(--main-color);
        border-top: none;
        border-bottom: solid 2px var(--main-color);
    }

    .navbar-links a,
    .navbar-links a:hover{
        border-top: none;
    }

    .search{
        margin: 0 1rem 0;
        width: 90%;
    }

    .search-search{
        /* margin: auto; */
        width: 100%;
        height: 5rem;
        justify-content: flex-start;
    }

    .search-search input{
        width: 85%;
        height: 3rem;
        position: relative;
        text-align: left;
        padding-left: 1rem;
    }

    .button_desktop{
        display: none;
    }

    .search-search button{
        border-radius: 15px;
        position: absolute;
        right: 10px;
    }

    .button_mobile{
        display: block;
        border-radius: 20px;
        width: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button_mobile i{
        background: var(--main-color);
        color: var(--main-bg-color);
        border: none;
        height: 2rem;
        
        
    }

    .filter{
        width: 100%;
        margin: 1rem 1rem;
        padding: 0;
    }

    .filter-choices{
        align-items: center;
        height: 10rem;
        width: 100vw;
        flex-wrap: wrap;
    }

    .filter-choice{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 43%;
        height: 3.5rem;
    }

    .filter-choice h2{
        font-size: 1rem;
        margin-left: 0.5rem;
    }

    .subheader{
        margin: 0 1rem;
    }

    

    /* ******* hébergments et populaires ******** */

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }
    
    .hebergements-and-populaires .hebergements{
        background-color: white;
    }


        /******** populaires  ***********/

    .hebergements-and-populaires .populaires {
        background-color: var(--main-bg-color);
        border-radius: 0px;
        padding: 30px;
    
    }
    
    .populaires-cards{
        flex-direction: column;
        
    }
    
    .populaires-cards .card {
        
        flex-direction: row;
        width: 100%;
        
    }

    .card-content{
        height: 8rem;
    }
    
    .populaires-cards img {
        width: 30%;
        height: 136px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    

        /******** hébergements  ***********/

    .hebergements{
        background: white;

    }

    .hebergements-cards{
        flex-direction: column;
    }

    .hebergements-cards__card{
        width: 100%;
    }

    .hebergements-cards__card img{
        height: 10rem;
    }

    .hebergements-showmore button{
        background: white;
    }



    /* ******** activities ******* */

    .activities{
        margin: 0 1rem;
    }

    .activities-cards{
        flex-direction: column;
        
    }

    .activities-cards_card{
        width: 100%;
        margin-bottom: 1rem;
    }

    /* ********* footer ********* */

    .footer{
        flex-direction: column;
        
    }

    .footer > *{
        width: 100%;
        background-color: var(--main-bg-color);
        margin-top: 2rem;
    }

}